@charset "UTF-8";
body, ul, li, p, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, pre, input, textarea, select, option, form {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

body {
  font-family: "Helvetica Neue","微软雅黑",sans-serif;
  font-size: 15px; }

* {
  position: relative; }

img {
  border: none; }

.row {
  position: relative; }
  .row::after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0; }

.col {
  position: relative; }

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%; }
  .col.l2 {
    width: 16.66667%; }
  .col.l3 {
    width: 25%; }
  .col.l4 {
    width: 33.33333%; }
  .col.l5 {
    width: 41.66667%; }
  .col.l6 {
    width: 50%; }
  .col.l7 {
    width: 58.33333%; }
  .col.l8 {
    width: 66.66667%; }
  .col.l9 {
    width: 75%; }
  .col.l10 {
    width: 83.33333%; }
  .col.l11 {
    width: 91.66667%; }
  .col.l12 {
    width: 100%; } }

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%; }
  .col.m2 {
    width: 16.66667%; }
  .col.m3 {
    width: 25%; }
  .col.m4 {
    width: 33.33333%; }
  .col.m5 {
    width: 41.66667%; }
  .col.m6 {
    width: 50%; }
  .col.m7 {
    width: 58.33333%; }
  .col.m8 {
    width: 66.66667%; }
  .col.m9 {
    width: 75%; }
  .col.m10 {
    width: 83.33333%; }
  .col.m11 {
    width: 91.66667%; }
  .col.m12 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .col.s1 {
    width: 8.33333%; }
  .col.s2 {
    width: 16.66667%; }
  .col.s3 {
    width: 25%; }
  .col.s4 {
    width: 33.33333%; }
  .col.s5 {
    width: 41.66667%; }
  .col.s6 {
    width: 50%; }
  .col.s7 {
    width: 58.33333%; }
  .col.s8 {
    width: 66.66667%; }
  .col.s9 {
    width: 75%; }
  .col.s10 {
    width: 83.33333%; }
  .col.s11 {
    width: 91.66667%; }
  .col.s12 {
    width: 100%; } }

@font-face {
  font-family: "xiti";
  src: url("../fonts/icons.woff") format("woff"); }

@font-face {
  font-family: "jixi";
  src: url("../fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e (4).woff2") format("woff2"); }

@font-face {
  font-family: "jixi";
  src: url("../fonts/jixi.woff") format("woff"); }

@font-face {
  font-family: "zhengchang";
  src: url("../fonts/zhengchang.woff") format("woff"); }

.col {
  float: left; }

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%; }
  .col.l2 {
    width: 16.66667%; }
  .col.l3 {
    width: 25%; }
  .col.l4 {
    width: 33.33333%; }
  .col.l5 {
    width: 41.66667%; }
  .col.l6 {
    width: 50%; }
  .col.l7 {
    width: 58.33333%; }
  .col.l8 {
    width: 66.66667%; }
  .col.l9 {
    width: 75%; }
  .col.l10 {
    width: 83.33333%; }
  .col.l11 {
    width: 91.66667%; }
  .col.l12 {
    width: 100%; } }

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%; }
  .col.m2 {
    width: 16.66667%; }
  .col.m3 {
    width: 25%; }
  .col.m4 {
    width: 33.33333%; }
  .col.m5 {
    width: 41.66667%; }
  .col.m6 {
    width: 50%; }
  .col.m7 {
    width: 58.33333%; }
  .col.m8 {
    width: 66.66667%; }
  .col.m9 {
    width: 75%; }
  .col.m10 {
    width: 83.33333%; }
  .col.m11 {
    width: 91.66667%; }
  .col.m12 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .col.s1 {
    width: 8.33333%; }
  .col.s2 {
    width: 16.66667%; }
  .col.s3 {
    width: 25%; }
  .col.s4 {
    width: 33.33333%; }
  .col.s5 {
    width: 41.66667%; }
  .col.s6 {
    width: 50%; }
  .col.s7 {
    width: 58.33333%; }
  .col.s8 {
    width: 66.66667%; }
  .col.s9 {
    width: 75%; }
  .col.s10 {
    width: 83.33333%; }
  .col.s11 {
    width: 91.66667%; }
  .col.s12 {
    width: 100%; } }

.remder {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .remder .lists {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 395px;
    background: #383836; }
    .remder .lists .header {
      width: 100%;
      height: 44px;
      border-bottom: 1px solid #1a1a1a; }
      .remder .lists .header .logo {
        background-image: url("../img/packed-5.png");
        background-position: 0px -588px;
        background-repeat: no-repeat;
        position: absolute;
        width: 56px;
        height: 16px;
        top: 14px;
        left: 12px; }
      .remder .lists .header .title {
        position: absolute;
        top: 0;
        line-height: 44px;
        left: 74px;
        color: #999;
        cursor: default;
        font-size: 21px; }
        .remder .lists .header .title:hover {
          color: #CCCCCC; }
      .remder .lists .header .jia {
        background-image: url("../img/packed-5.png");
        background-repeat: no-repeat;
        background-position: -23px -526px;
        position: absolute;
        top: 10px;
        right: 12px;
        width: 23px;
        height: 23px;
        cursor: pointer; }
    .remder .lists .biaoti {
      width: 100%;
      height: 44px;
      border-bottom: 1px solid #1a1a1a; }
      .remder .lists .biaoti .biao {
        position: absolute;
        left: 10px;
        top: 2px;
        width: 40px;
        height: 40px;
        background: url("../img/packed-5.png") 0 -359px no-repeat; }
      .remder .lists .biaoti .title {
        width: auto;
        height: 44px;
        text-align: left;
        line-height: 44px;
        font-size: 16px;
        color: #fff;
        text-indent: 54px; }
    .remder .lists .lists-inner {
      width: 100%;
      height: auto; }
      .remder .lists .lists-inner li.active {
        background: #2D2D2B; }
      .remder .lists .lists-inner li {
        cursor: pointer;
        width: 100%;
        height: 44px;
        background: transparent; }
        .remder .lists .lists-inner li span {
          display: block;
          width: 17px;
          height: 17px;
          background: url("../img/packed-5.png") -102px -571px;
          position: absolute;
          left: 21px;
          top: 13px; }
        .remder .lists .lists-inner li span.red {
          background: url("../img/packed-5.png") -102px -571px; }
        .remder .lists .lists-inner li span.green {
          background: url("../img/packed-5.png") -85px -571px; }
        .remder .lists .lists-inner li span.org {
          background: url("../img/packed-5.png") -51px -571px; }
        .remder .lists .lists-inner li span.yellow {
          background: url("../img/packed-5.png") -34px -571px; }
        .remder .lists .lists-inner li span.blue {
          background: url("../img/packed-5.png") -68px -571px; }
        .remder .lists .lists-inner li span.tuhuang {
          background: url("../img/packed-5.png") -133px -549px; }
        .remder .lists .lists-inner li span.pink {
          background: url("../img/packed-5.png") -17px -571px; }
        .remder .lists .lists-inner li input {
          margin-left: 54px;
          border: none;
          outline-style: none;
          width: 341px;
          height: 43px;
          background: transparent;
          color: #fff;
          font-size: 16px;
          border-bottom: 1px solid #2A2A28; }
  .remder .content.green {
    color: #64DA39; }
  .remder .content.red {
    color: #FF2B6C; }
  .remder .content.yellow {
    color: #F7CB00; }
  .remder .content.tuhuang {
    color: #A3855F; }
  .remder .content.pink {
    color: #CC72E1; }
  .remder .content.org {
    color: #FF8000; }
  .remder .content.blue {
    color: #1CAFF8; }
  .remder .content {
    position: absolute;
    left: 395px;
    top: 0;
    right: 0;
    bottom: 0;
    color: #FF2B6E;
    background-image: url(../img/packed-4.png); }
    .remder .content .search {
      width: 100%;
      height: 44px;
      border-bottom: 1px solid #D1D1D1; }
      .remder .content .search span {
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 11px;
        left: 14px;
        background: url("../img/packed-5.png") -138px -359px; }
      .remder .content .search .sou {
        margin-left: 38px;
        text-indent: 10px;
        color: #bbb;
        font-size: 18px;
        line-height: 44px; }
    .remder .content .bao {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0; }
      .remder .content .bao .inner {
        float: left;
        width: 100%;
        height: auto; }
        .remder .content .bao .inner input {
          margin-left: 13px;
          text-indent: 52px;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          background: transparent;
          font-size: 18px;
          color: black;
          line-height: 50px;
          box-sizing: border-box;
          border-bottom: 1px solid #D1D1D1; }
        .remder .content .bao .inner li {
          float: left;
          width: 100%;
          height: 48px; }
          .remder .content .bao .inner li .cil {
            width: 32px;
            height: 32px;
            position: absolute;
            left: 13px;
            top: 10px; }
        .remder .content .bao .inner .li {
          float: left;
          width: 100%;
          height: 48px;
          border-right: none; }
          .remder .content .bao .inner .li .circle {
            width: 32px;
            height: 32px;
            position: absolute;
            left: 13px;
            top: 10px; }
          .remder .content .bao .inner .li input {
            margin-left: 13px;
            text-indent: 52px;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            background: transparent;
            font-size: 18px;
            color: black;
            line-height: 50px;
            box-sizing: border-box;
            border-bottom: 1px solid #D1D1D1; }
    .remder .content .content-inner {
      width: 100%;
      height: auto;
      margin-top: 69px;
      float: left; }
      .remder .content .content-inner .title {
        padding-left: 48px;
        box-sizing: border-box;
        height: 58px;
        border-bottom: 1px solid #D1D1D1; }
        .remder .content .content-inner .title span {
          font-size: 40px;
          text-indent: 16px; }
        .remder .content .content-inner .title .xuanxiang {
          float: right;
          height: 100%;
          line-height: 48px;
          margin-right: 20px;
          font-size: 19px;
          cursor: pointer; }
      .remder .content .content-inner .xiang {
        width: 100%;
        height: 52px;
        border-bottom: 1px solid #D1D1D1;
        line-height: 52px;
        font-size: 19px;
        color: #aaa;
        text-indent: 46px; }
        .remder .content .content-inner .xiang span {
          display: block;
          width: 23px;
          height: 23px;
          position: absolute;
          left: 13px;
          top: 15px;
          background: url("../img/packed-5.png") -92px -526px; }
      .remder .content .content-inner .xin {
        float: left;
        width: 100%;
        height: 52px;
        border-bottom: 1px solid #D1D1D1;
        border-top: 1px solid #D1D1D1;
        line-height: 52px;
        font-size: 19px;
        color: #888;
        text-indent: 46px;
        cursor: pointer;
        margin-top: 20px; }
  .remder .box {
    width: 363px;
    height: 234px;
    background: #fff;
    position: fixed;
    right: 67px;
    top: 26px;
    padding: 4px 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1); }
    .remder .box .inner {
      width: 100%;
      height: 100%;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 20px 0 0 20px; }
      .remder .box .inner input.green {
        color: #64DA39; }
      .remder .box .inner input.red {
        color: #FF2B6C; }
      .remder .box .inner input.yellow {
        color: #F7CB00; }
      .remder .box .inner input.tuhuang {
        color: #A3855F; }
      .remder .box .inner input.pink {
        color: #CC72E1; }
      .remder .box .inner input.org {
        color: #FF8000; }
      .remder .box .inner input.blue {
        color: #1CAFF8; }
      .remder .box .inner input {
        width: 314px;
        height: 42px;
        font-size: 25px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding-left: 13px;
        color: #FF2A6B; }
      .remder .box .inner p {
        color: black;
        line-height: 55px;
        padding-left: 3px;
        cursor: default; }
      .remder .box .inner .color {
        border-bottom: 1px solid #ccc;
        padding-bottom: 14px;
        height: 50px;
        box-sizing: border-box; }
        .remder .box .inner .color li.green {
          background: url("../img/stylesheet-1.png") 0px -33px; }
        .remder .box .inner .color li.yellow {
          background: url("../img/stylesheet-1.png") 0px -99px; }
        .remder .box .inner .color li.blue {
          background: url("../img/stylesheet-1.png") 0px -66px; }
        .remder .box .inner .color li.org {
          background: url("../img/stylesheet-1.png") 0px -198px; }
        .remder .box .inner .color li.pink {
          background: url("../img/stylesheet-1.png") 0px 0px; }
        .remder .box .inner .color li.tuhuang {
          background: url("../img/stylesheet-1.png") 0px -132px; }
        .remder .box .inner .color li.red {
          background: url("../img/stylesheet-1.png") 0px -165px; }
        .remder .box .inner .color li {
          width: 33px;
          height: 33px;
          margin-left: 10px;
          float: left; }
          .remder .box .inner .color li span {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin: 4px 0px 0 4px;
            cursor: pointer; }
          .remder .box .inner .color li span.green {
            background: url("../img/stylesheet-1.png") 0px -256px; }
          .remder .box .inner .color li span.yellow {
            background: url("../img/stylesheet-1.png") 0px -306px; }
          .remder .box .inner .color li span.blue {
            background: url("../img/stylesheet-1.png") 0px -281px; }
          .remder .box .inner .color li span.org {
            background: url("../img/stylesheet-1.png") 0px -381px; }
          .remder .box .inner .color li span.pink {
            background: url("../img/stylesheet-1.png") 0px -231px; }
          .remder .box .inner .color li span.tuhuang {
            background: url("../img/stylesheet-1.png") 0px -331px; }
          .remder .box .inner .color li span.red {
            background: url("../img/stylesheet-1.png") 0px -356px; }
      .remder .box .inner .del {
        float: left;
        line-height: 60px;
        color: red;
        font-size: 18px;
        cursor: pointer;
        width: 193px;
        cursor: pointer;
        z-index: 55; }
      .remder .box .inner .xiao {
        width: auto;
        height: 20px;
        margin-top: 20px; }
      .remder .box .inner .quxiao {
        float: left;
        line-height: 20px;
        color: #333;
        font-size: 18px;
        cursor: pointer;
        border-right: 1px solid #ccc;
        width: 60px;
        padding-right: 20px;
        box-sizing: border-box; }
      .remder .box .inner .wancheng {
        float: left;
        line-height: 20px;
        color: #000;
        font-size: 18px;
        cursor: pointer;
        margin-left: 20px;
        width: 40px; }

.bao .inner li .cil.red {
  background: url("../img/packed-5.png") -64px -401px; }

.bao .inner li .cil.org {
  background: url("../img/packed-5.png") -96px -465px; }

.bao .inner li .cil.pink {
  background: url("../img/packed-5.png") 0 -465px; }

.bao .inner li .cil.tuhuang {
  background: url("../img/packed-5.png") -32px -433px; }

.bao .inner li .cil.green {
  background: url("../img/packed-5.png") -32px -401px; }

.bao .inner li .cil.yellow {
  background: url("../img/packed-5.png") -136px -199px; }

.bao .inner li .cil.blue {
  background: url("../img/packed-5.png") -74px -359px; }

.remder .content .bao .inner .li.red {
  background: rgba(255, 41, 104, 0.1);
  border: 1px solid #ff2968;
  border-left: none; }
  .remder .content .bao .inner .li.red .circle {
    background: url("../img/packed-5.png") -128px -401px; }

.remder .content .bao .inner .li.org {
  background: rgba(255, 127, 0, 0.1);
  border: 1px solid #ff7f00;
  border-left: none; }
  .remder .content .bao .inner .li.org .circle {
    background: url("../img/packed-5.png") 0 -433px; }

.remder .content .bao .inner .li.pink {
  background: rgba(177, 75, 201, 0.1);
  border: 1px solid #b14bc9;
  border-left: none; }
  .remder .content .bao .inner .li.pink .circle {
    background: url("../img/packed-5.png") -64px -465px; }

.remder .content .bao .inner .li.tuhuang {
  background: rgba(162, 132, 94, 0.1);
  border: 1px solid #a2845e;
  border-left: none; }
  .remder .content .bao .inner .li.tuhuang .circle {
    background: url("../img/packed-5.png") -96px -433px; }

.remder .content .bao .inner .li.green {
  background: rgba(73, 191, 31, 0.1);
  border: 1px solid #49bf1f;
  border-left: none; }
  .remder .content .bao .inner .li.green .circle {
    background: url("../img/packed-5.png") -42px -359px; }

.remder .content .bao .inner .li.yellow {
  background: rgba(224, 172, 0, 0.1);
  border: 1px solid #e0ac00;
  border-left: none; }
  .remder .content .bao .inner .li.yellow .circle {
    background: url("../img/packed-5.png") -136px -267px; }

.remder .content .bao .inner .li.blue {
  background: rgba(27, 173, 248, 0.1);
  border: 1px solid #1badf8;
  border-left: none; }
  .remder .content .bao .inner .li.blue .circle {
    background: url("../img/packed-5.png") -136px -167px; }
